@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
#navlist{
    padding: 30px 30px 30px;
    text-align: center;
    background-color: #2874f0;
    color: white;
}
#navlist a{
    color: white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-align: right;
    padding-top: 0%;
 
   

}
.co{
    text-align: right;
    padding: 0px 30px 30px;
    margin-top: -5px;
    /* position: relative; */
}
/* #navlist a.search{
    width: 80px;
    margin: 10px;
    height: 50px;
} */

.ut{
    
   margin-bottom: 5px;
    /* padding: 12px 10px 0px;  */
    margin-left:5px;
    align-items:center ;
    
}
.searchbox{
    height:33px;
    width: 500px;
    padding: 10px 10px 10px;
    margin-bottom: 44px;
    margin-top: -16px;
}


.container{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    
}
.image{
    height: 20px;
    border-radius: 50%;
}
.card{
    width: 30px;
}